<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="author" content="Webpixels" />
  <title>Trainity - Admin Panel</title>
  <!-- Favicon -->
  <link rel="icon" href="../img/custom/favicon-32x32.jpg" type="image/png" />
  <!-- Purpose CSS -->
  <link rel="stylesheet" href="../css/purpose.css" id="stylesheet" />
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="../libs/@fortawesome/fontawesome-free/css/all.min.css" />

  <link rel="stylesheet" href="../libs/fullcalendar/dist/fullcalendar.min.css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/libs/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="../img/custom/favicon-32x32.jpg" type="image/png" />
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="../libs/@fortawesome/fontawesome-free/css/all.min.css" />
  <!-- Purpose CSS -->
  <link rel="stylesheet" href="../css/purpose.css" id="stylesheet" />
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="../libs/@fortawesome/fontawesome-free/css/all.min.css" />
  <!-- Page CSS -->
  <link rel="stylesheet" href="../libs/fullcalendar/dist/fullcalendar.min.css" />

  <link rel="stylesheet" href="../../assets/libs/flatpickr/dist/flatpickr.min.css" />
  <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet" />
  <style>
    body {
      font-family: 'Manrope', sans-serif !important;
    }

    .progressTask {
      height: 8px;
      flex-shrink: 0;
      width: 90%;
      border-radius: 4px;
      background: var(--success-100, #D1FADF);
    }

    .progress__fill {
      width: 30%;
      height: 100%;
      background: #48bf84;
      transition: all 0.2s;
      border-radius: 4px;
    }

    .textarea {
      display: flex;
      padding: 14px 20px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      color: var(--gray-500, #667085);
      font-size: 14px;
      font-style: normal;
      height: 48px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.21px;
      border-radius: 12px;
      border: 1px solid #ECECEC;
      background: #FFF;
    }

    .tabbox {
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: var(--gray-500, #667085);
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    .active {
      color: #48bf84;
      width: 100px;
      display: flex;
      border-bottom: 1px solid #48bf84;
      align-items: center;
      justify-content: center;
    }

    .create-project_btn {
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: var(--White, #FFF);
      background: #48bf84;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 150% */
      border-radius: var(--radius-medium, 8px);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  </style>

  <!-- Hotjar Tracking Code for Admin Website -->
  <script>
    (function(h, o, t, j, a, r) {
      h.hj = h.hj || function() {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 3534926,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

</head>

<body class="application application-offset" style="margin-left:300px;width: calc(100vw - 300px);background: #fafafa;display: flex;
padding: 0px 32px;
flex-direction: column;
flex: 1 0 0;" id="MainPageContent">
  <!-- Chat modal -->
  <!-- Sidenav -->
  <%- include('partials/sidepanel'); -%>
  <!-- Content -->
  <div class="main-content position-relative" style="margin-top:0px;display: flex;
    flex-direction: column;
    gap: 32px;padding-right: 20px;">

    <%- include('partials/utility-modals'); -%>


    <div style="display: flex;gap:8px;align-items:center; color: var(--gray-600, #475467);">
      <div class="tabbox " onclick="ChangeTab('Projects')" id="ProjectsTab"><img src="../Project icons/project_tab.svg">Projects</div>
      <div class="tabbox active"  onclick="ChangeTab('Tasks')" id="TasksTab"><img src="../Project icons/task_tab.svg"> Tasks</div>

    </div>
    <div style="display: none;gap:8px;align-items:center; color: var(--gray-600, #475467);">
      <div class="tabbox active" onclick="ChangeTab('Project')" id="ProjectTab">Projects</div>
      <div class="tabbox" onclick="ChangeTab('Project')" id="ProjectSubmissionTab"> Project Submission</div>
    </div>
    <div style="display: flex;gap:8px;align-items:center; color: var(--gray-600, #475467);">
      <div class="tabbox " onclick="ChangeTab('Task')" id="TaskTab">Tasks</div>
      <div class="tabbox active" onclick="ChangeTab('Task')" id="TaskSubmissionTab"> Task Submission</div>
    </div>
    <% function ChangeDate(date) {
      const options = { day: "numeric", month: "long", year: "numeric" };
      const formattedDate = new Date(date).toLocaleDateString(undefined, options);
      return formattedDate;
    } %>
    <div style="display: none;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;" id="ProjectsBody">
      <div style="display: flex;
    width: 300px;
    height: 44px;
padding: 10px 14px;
align-items: center;
gap: 8px;
align-self: stretch;

    justify-content: center;
    align-items: center;border-radius: var(--radius-medium, 8px);
border: 1px solid var(--gray-300, #D0D5DD);
background: var(--White, #FFF);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);">
        <img src="../Project icons/Search_icon.svg">
        <input type="text" style="border: none;width: 100%;height: 100%;">
      </div>
      <% if(projects.length > 0) { %>
      <div class="create-project_btn" data-target="#CreateProject" data-toggle="modal"><span style="width: 24px;
  height: 24px;"><i class="fa fa-plus" aria-hidden="true"></i></span>Create Projects</div>

    <%}%>
  
 
   <% function countWeeksBetweenDates(startDate, endDate) {%>
    <% startDate = new Date(startDate)%>
    <% endDate=new Date(endDate) %>
    <% const timeDifference = endDate - startDate;%>
      <%  const millisecondsPerWeek = 7 * 24 * 60 * 60 * 1000;%>
      <%   const weeks = Math.ceil(timeDifference / millisecondsPerWeek);%>
      <%  return weeks;%>
      <%  }%>
<% if(projects.length > 0) { %>
    <div style="display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  align-self: stretch;">
      <% for(let project of projects) { %>
      <div style="max-width:400px;display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: #FFF;">
        <div style="border-radius: 12px 12px 0px 0px;width: 100%;overflow: hidden;">
          <img src="../img/Skill badge icons/image 707.svg" style="width:400px;">
        </div>
        <div style="display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;">
          <div style="display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;">
            <div style="display: flex;gap:4px;align-items: center;">
              <img src="../Performance dashboard Icons/calander.svg">
              <div style="color: var(--gray-500, #667085);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */">
                <%=ChangeDate(project.startDate)%> - <%=ChangeDate(project.endDate)%>: <%=countWeeksBetweenDates(project.startDate,project.endDate)%> weeks
              </div>
            </div>
            <div style="color: var(--gray-900, #101828);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */">
              <%=project.title%>
            </div>
            <div class="Projects" style="display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  align-self: stretch;">
              <div class="progressTask">
                <div class="progress__fill"></div>
              </div>
              <div style="color: var(--gray-700, #344054);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */">50%</div>

            </div>
            <div style="display: flex;
  align-items: center;
  gap: 10px;">
              <img src="<%=project.user?.image%>" style="display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200px;" alt="N/A">
              <div style="display: flex;
  flex-direction: column;
  align-items: flex-start;">
                <div style="color: var(--gray-700, #344054);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */">
                  <%=project.user?.displayName%>
                </div>
                <div style="color: var(--gray-500, #667085);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */">
                  4 Task Submitted</div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <%}%>
    </div>
    <%} else{%>
      <div style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh;
width: 100%;
gap: 17px;
flex: 1 0 0;
align-self: stretch;">
        <img src="../Project icons/Projects Empty state - Manager view.svg">
        <div style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;">
          <div style="color: #363636;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */">Create Projects for Team</div>
          <div style="width: min(100%,500.652px);
color: #363636;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 135%; /* 24.3px */
letter-spacing: 0.18px;">
            Right now, it's a clean slate, but you can begin creating and assigning projects to your entire team.
          </div>
        </div>
        <div class="create-project_btn" data-target="#CreateProject" data-toggle="modal"><i class="fa fa-plus " aria-hidden="true"></i></span>Create Projects</div>
      </div>
      <%}%>
    </div>
    <div id="ProjectSubmissionBody" style="display: none;"></div>
    <div id="TasksBody" style="display: none;"></div>
    <div id="TaskSubmissionBody" style="display: flex;flex-direction: column;gap:32px;">
      <div style="display: flex;flex-direction: column;gap:25px;max-width: min(800px,100%);" >
  <div style="display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;">
  <div style="color: #363636;
  flex:1 0 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */">Task Submission</div>
  <div style="display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;">
  <img src="../Performance dashboard Icons/left.svg">
  <img src="../Performance dashboard Icons/right.svg">
  </div>
  </div>
  <div style="display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;">
  <div style="display: flex;
  width: min(600px,50%);
  align-items: center;
  gap: 24px;">
  <div style="display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);">
  <img src="../Performance dashboard Icons/filter.svg">
  <div style="color: var(--gray-700, #344054);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  ">Filter</div>
  </div>
  <div style="display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);">
  <img src="../Performance dashboard Icons/calander.svg">
  <div style="color: var(--gray-700, #344054);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  ">Date/Month</div>
  </div>
  </div>
    <div style="display: flex;
    width: 300px;
    height: 44px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  
    justify-content: center;
    align-items: center;border-radius: var(--radius-medium, 8px);
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);">
        <img src="../Project icons/Search_icon.svg">
        <input type="text" style="border: none;width: 100%;height: 100%;">
      </div>
  </div>
  </div>
  <div style="width: 100%; overflow: auto;">
    <table style="width: auto; table-layout: auto;">
      <thead>
        <tr style="background: var(--gray-100, #F2F4F7);">
          <th style="width: auto;">Sr No</th>
          <th style="width: 300px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Tasks</th>
          <th  style="width: 300px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Project</th>
          <th  style="width: 300px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Due Date</th>
          <th style="width: auto;">Quality</th>
          <th style="width: auto;">Speed</th>
          <th style="width: auto;">Ratings</th>
          <th style="width: auto;">Badges Received</th>
          <th style="width: auto;">Badges</th>
          <th style="width: auto;">Feedback</th>
          <th style="width: auto;">Approved Status</th>
          <th style="width: auto;">Submitted on</th>
          <th style="width: auto;">Files</th>
          <th style="width: auto;">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background: #FFF;">
          <td>1</td>
          <td  style="width: 300px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">📊 Monthly Report</td>
          <td  style="width: 300px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Monthly Performance Report</td>
          <td style="width: 300px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">2 Aug 2023</td>
          <td><span style="color: #48BF84;">8</span>/10</td>
          <td><span style="color: #48BF84;">8</span>/10</td>
          <td>4.8 <img src="../img/filled-star.svg" style="width: 24px; height: 24px; flex-shrink: 0;"></td>
          <td>10 <img src='../img/gem.svg' style="width: 24px; height: 24px;"></td>
          <td><img src='../img/gem.svg' style="width: 24px; height: 24px;"></td>
          <td><img src="../Performance dashboard Icons/Tasks/One feedback(number is dynamic).svg"></td>
          
          <td style="color: #48BF84;">Approved</td>
          <td style="width: 160px;">2 Aug 2023</td>
          <td>1 <img src='../Performance dashboard Icons/File.svg' style="width: 24px; height: 24px;"></td>
          <td>1 <img src='../Performance dashboard Icons/Link.svg' style="width: 24px; height: 24px;"></td>
        </tr>
        <!-- Add more data rows as needed -->
      </tbody>
    </table>
  </div>
  
    </div>

    </div>
      <!-- Create Project Modal -->

  <div class="modal fade docs-example-modal-xl" tabindex="-1" role="dialog" id="CreateProject" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header" style="display: flex;width: 100%;justify-content: space-between;align-items: center;">
          <div style="color: var(--gray-900, #101828);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;">New Project</div>
          <img src="../img/icons performance mgmt/desktop/close_40x40.svg" data-dismiss="modal">
        </div>

        <div class="modal-body" style="display: flex;
        padding: 20px 32px;
        flex-direction: column;
        overflow: auto;
        max-height: 70vh;
        align-items: flex-start;
        gap: 32px;">
        <input type="text" style="display: flex;
        align-items: center;
        gap: 32px;
        border: none;
        padding: 10px 0px;
        align-self: stretch;color: var(--gray-900, #101828);
       font-size: 24px;
       font-style: normal;
       font-weight: 700;
       line-height: normal;" placeholder="Project Title(Click to Edit)" onchange="ChangeProjectData('title',event.target.value)" id="Project_Title">
          <div style="display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 8px;">
            <div style="color: var(--gray-800, #1D2939);
       
       font-size: 16px;
       font-style: normal;
       font-weight: 600;
       line-height: normal;">Timeline</div>
            <div style="display: flex;
       align-items: center;
       gap: 8px;
       align-self: stretch;">
              <img src="../Performance dashboard Icons/calander.svg">
              <div style="color: var(--gray-600, #475467);
      
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;">
                Start Date
              </div>
              <input style="display: flex;
      height: 48px;
      padding: 14px 20px;
      align-items: center;
      gap: 10px;
      color: var(--gray-500, #667085);
/* Text sm/Normal */

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */

      border-radius: 12px;
      border: 1px solid var(--gray-300, #D0D5DD);
      background: #FFF;" type="date" onchange="ChangeProjectData('startDate',event.target.value)" id="Project_StartDate">
              <div style="color: var(--gray-600, #475467);
      
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;">
                Due Date
              </div>
              <input style="display: flex;
      height: 48px;
      padding: 14px 20px;
      align-items: center;
      gap: 10px;
      color: var(--gray-500, #667085);
/* Text sm/Normal */

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */

      border-radius: 12px;
      border: 1px solid var(--gray-300, #D0D5DD);
      background: #FFF;" type="date" onchange="ChangeProjectData('endDate',event.target.value)" id="Project_EndDate">
            </div>
          </div>
          
          <div style="display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-start;
          gap: 8px;">
                  <div style="color: var(--gray-800, #1D2939);
        
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;">Assignee</div>
                  <div style="display: flex;
                  height: 48px;
                  padding: 14px 20px;
                  justify-content: space-between;
                  align-items: center;
                  align-self: stretch;
                  border-radius: 12px;
                  border: 1px solid var(--gray-400, #98A2B3);
                  background: #FFF;color: var(--gray-500, #667085);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.21px;
" placeholder="Briefly describe Project Objectives." data-target="#SelectEmployee" data-toggle="modal" id="Project_Assignee">Select Employee</div>
                </div>
          <div style="display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-start;
          gap: 8px;">
                  <div style="color: var(--gray-800, #1D2939);
        
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;">Project Objectives</div>
                  <textarea  class="textarea" placeholder="Briefly describe Project Objectives." onchange="ChangeProjectData('objectives',event.target.value)" id="Project_Objectives"></textarea>
                </div>
          <div style="display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 8px;">
            <div style="color: var(--gray-800, #1D2939);
  
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;">Description</div>
            <textarea   class="textarea"placeholder="Briefly describe the task you accomplished this week in maximum 1 or 2 lines"  onchange="ChangeProjectData('description',event.target.value)" id="Project_Description"></textarea>
          </div>
         
        
          <div style="display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
">
            <div style="color: var(--gray-800, #1D2939);

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;">Attach files and links</div>
            <div style="display: flex;align-items: center;gap:8px;flex-wrap: wrap;" id="Project_LinkFileBody">
              
            </div>
            <div style="display: flex;
align-items: flex-start;
gap: 8px;">
              <div style="display: flex;
width: 103px;
height: 52px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
background: #FFF;" onclick="OpenFileInput()">
                <input type="file" id="FileInputFild" style="width: 0.1px;" onchange="handleFileSelect(event)" accept=
                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                text/plain, application/pdf, image/*">
                <img src="../Performance dashboard Icons/File.svg">
                <img src="../Performance dashboard Icons/AddMedia.svg">
              </div>
              <div style="display: flex;
width: 103px;
height: 52px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
background: #FFF;" data-target="#AddLink" data-toggle="modal">
                <img src="../Performance dashboard Icons/Link.svg">
                <img src="../Performance dashboard Icons/AddMedia.svg">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer" style="padding: 0.5rem">
          <button class="btn btn-outline-primary" style="display: flex;
width: 189px;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 12px;" data-dismiss="modal"> Cancel</button>
          <button class="btn btn-primary"  disabled style="display: flex;
width: 189px;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 12px;"  data-dismiss="modal" onclick="CreateProject()" id="Project_Submit">Submit</button>

        </div>

      </div>
    </div>
  </div>
    <!-- Add Link -->
    <div class="modal fade docs-example-modal-lg" tabindex="-1" role="dialog" id="AddLink" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" style="background-color: #FAFAFA;">
          <div class="modal-header" style="display: flex;width: 100%;justify-content: space-between;align-items: center;">
            <div style="color: var(--gray-900, #101828);
  font-size: 24pxpx;
  font-style: normal;
  font-weight: 700;
  line-height: normal;">Add Link</div>
            <img src="../img/icons performance mgmt/desktop/close_40x40.svg" data-dismiss="modal">
          </div>
          <div class="modal-body" style="display: inline-flex;
          padding-top: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 22px;
          border-radius: 12px;">
            <div style="display: flex;
           width: 100%;
           align-items: center;
           gap: 22px;">
              <div style="color: var(--content-on-light-primary, #181818);
           width: 100px;
           font-size: 16px;
           font-style: normal;
           font-weight: 600;
           line-height: normal;" >Link Title</div>
              <input type="text" id="link-title" placeholder="Design_draft1" style="width:100%;padding:10px;margin:15px 0px;border-radius: var(--radius-medium, 8px);
              border: 1px solid var(--stroke-secondary, #DCDCDC);
              background: var(--surface-primary, #FFF);" onchange="ChangeLinkContent('title',event.target.value)">
            </div>
            <div style="display: flex;
    width: 100%;
    align-items: center;
    gap: 22px;">
              <div style="color: var(--content-on-light-primary, #181818);
    width: 100px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;">Link </div>
              <input type="link" id="link-link" placeholder="www.figma.com/file/4E5bk36Ib1giid=4861%3A134681&m"style="width:100%;padding:10px;margin:15px 0px;border-radius: var(--radius-medium, 8px);
              border: 1px solid var(--stroke-secondary, #DCDCDC);
              background: var(--surface-primary, #FFF);" onchange="ChangeLinkContent('url',event.target.value)" required>
            </div>
          </div>
          <div class="modal-footer" style="padding:0.5rem">
  
            <button type="button" style="display: flex;
            height: 48px;
            padding: 8px 16px;
            align-items: center;
            gap: 8px;
            border-radius: 12px;" class="btn btn-outline-primary" data-dismiss="modal">
              Cancel
            </button>
  
            <button type="button"  data-dismiss="modal" class="btn btn-primary"  style="display: flex;
            height: 48px;
            padding: 8px 16px;
            align-items: center;
            gap: 8px;
            border-radius: 12px;" onclick="AddLink()" id="AddLinkButton" disabled>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>

      <!--  Select Employee -->
      <div class="modal fade docs-example-modal-lg" tabindex="-1" role="dialog" id="SelectEmployee" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content" style="background-color: #FAFAFA;">
           
            <div class="modal-body" style="display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 22px;
            border-radius: 12px;">

               <div style="display: flex;
               height: 44px;
               justify-content: center;
               align-items: center;
               align-self: stretch;
               padding: 10px 14px;
gap: 8px;
background: var(--White, #FFF);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
               border-radius: 8px 8px 0px 0px;
               border-bottom: 1px solid var(--gray-400, #98A2B3);" >
               <img src="../Project icons/Search_icon.svg">
               <input type="text" style="border: none;width: 100%;height: 100%;">
           </div>
           <div style="display: flex;flex-wrap: wrap;">
            <% for(let employee of employeeList){%>
      <div style="display: flex;
          padding: 16px 24px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          flex: 1 0 0;
          align-self: stretch;" onclick="ChangeProjectData('assignedTo',['<%=employee._id%>']);ShowAssigneeFild();" data-dismiss="modal">
        <img style="display: flex;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 200px;" src="<%=employee.image%>">
        <div style="color: var(--gray-900, #101828);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */"><%=employee.displayName%></div>
      </div>
      <%}%>
          </div>
            </div>
           
          </div>
        </div>
      </div>
    <script>
    var projectData = {};
    let employeeList = `<%-JSON.stringify(employeeList)%>`;
      employeeList = JSON.parse(employeeList);
      let EmployeeList = new Map();
      employeeList.forEach((employee) => {
      EmployeeList.set(employee._id, employee);
      });
      function ShowAssigneeFild() {
      let assignId = projectData.assignedTo[0];
      let employee = EmployeeList.get(assignId);
      document.getElementById('Project_Assignee').innerHTML = employee.displayName;
      }
      function ChangeModalData(value) {
      projectData=value;
      document.getElementById('Project_Title')=projectData.title?projectData.title:'';
      document.getElementById('Project_StartDate')=projectData.startDate?projectData.startDate:'';
      document.getElementById('Project_EndDate')=projectData.endDate?projectData.endDate:'';
      document.getElementById('Project_Assignee')=projectData.assignedTo?projectData.assignedTo:'Select Employee';
      document.getElementById('Project_Objectives')=projectData.objectives?projectData.objectives:'';
      document.getElementById('Project_Description')=projectData.description?projectData.description:'';
      document.getElementById('Project_LinkFileBody')='';
      for(let files of projectData.files)
      {
      file=files;
      UpdateFilebody();
      }
      for(let links of projectData.links)
      {
      Link=files;
      UpdateLinkbody();
      }
      }
      
      function MakeSubmitButtonAble()
      {
       
      let button=document.getElementById('Project_Submit');
      if(projectData.title?.length>0 && projectData.startDate?.length>0 && projectData.endDate?.length>0 && projectData.assignedTo?.length>0) {
      button.disabled=false;
      
      }
      else{
      button.disabled=true;
      }
      }

      function ChangeTab(type) {
  let tab1,tab2,body1,body2;
  if(type.charAt(type.length-1)=='s')
  {
tab1=document.getElementById(type+'Tab');
tab2=document.getElementById(type+'Tab');
body1=document.getElementById(type+'Body');
body2=document.getElementById(type+'Body');
  }
  else
  {
    tab1=document.getElementById(type+'Tab');
    tab2=document.getElementById(type+'SubmissionTab');
    body1=document.getElementById(type+'s'+'Body');
    body2=document.getElementById(type+'SubmissionBody');
  }
      if(tab1.style.display=='flex')
      {
        tab1.style.display='none';
        tab2.style.display='flex';
        body1.style.display='none';
        body2.style.display='flex';
      }
      else{
        tab1.style.display='flex';
        tab2.style.display='none';
        body1.style.display='flex';
        body2.style.display='none';
      }
    }
 
      function OpenFileInput()
      {
      document.getElementById('FileInputFild').click();
      }
     
      projectData.links=[];
      projectData.files=[];
      let Link = {},file={};
      function ChangeLinkContent(type, value) {
      Link[type] = value;
     
      MakeLinkButtonAble();
      }

      function AddLink() {
      let id=generateRandomId();
      Link.id =id;
      projectData.links.push(Link);
      UpdateLinkbody();
      }
      function AddFile() {
      let id=generateRandomId();
      file.id=id;
      projectData.files.push(file);
      UpdateFilebody();
      }
      function MakeLinkButtonAble() {
      if (Link.title?.length > 0 && Link.url?.length > 0) {
      document.getElementById('AddLinkButton').disabled = false;
      } else {
      document.getElementById('AddLinkButton').disabled = true;
      }
      }
      function generateRandomId() {
      return '_' + Math.random().toString(36).substr(2, 9);
      }
      function UpdateLinkbody() {
      let id=Link.id;
      let body = document.getElementById('Project_LinkFileBody');
      let innerhtmlfile = `
      <div style="display: flex;
                padding: 12px 16px;
                align-items: center;
                gap: 12px;
                flex: 1 0 0;
                border-radius: 12px;
                border: 1px solid #ECECEC;
                background: #FFF;" onmouseover="showIcons('.Icons-${id}')" onmouseout="removeIcons('.Icons-${id}')" id='link-${id}'>
        <img src="../Performance dashboard Icons/Link Added.svg">
        <div style="display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 4px;
                  flex: 1 0 0;">
          <div style="align-self: stretch;
                    color: var(--content-on-light-primary, #181818);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 17.352px;">
            ${Link.title}
          </div>
          <div style="display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    align-self: stretch;
                    overflow: hidden;
                    color: var(--content-on-light-secondary, #898989);
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17.352px;">
            ${Link.url}
          </div>
        </div>
        <img src='../Project icons/Edit.svg' style="display:none" class='Icons-${id}' onclick='EditLink("${id}")' data-target='#AddLink' data-toggle='modal'>
        <img src='../Project icons/Delete.svg' style="display:none" class='Icons-${id}' onclick='RemoveLink("${id}")'>
      </div>`;

      body.insertAdjacentHTML('afterbegin', innerhtmlfile);
      }

      function UpdateFilebody() {
      let id=file.id;
      let body = document.getElementById('Project_LinkFileBody');
      let innerhtmlfile = `
      <div style="display: flex;
                padding: 12px 16px;
                align-items: center;
                gap: 12px;
                flex: 1 0 0;
                border-radius: 12px;
                border: 1px solid #ECECEC;
                background: #FFF;" onmouseover="showIcons('.Icons-${id}')" onmouseout="removeIcons('.Icons-${id}')" id='file-${id}'>
        <img src="../Performance dashboard Icons/Document Added.svg">
        <div style="display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 4px;
                  flex: 1 0 0;">
          <div style="align-self: stretch;
                    color: var(--content-on-light-primary, #181818);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 17.352px;">
            ${file.title}
          </div>
          <div style="display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    align-self: stretch;
                    overflow: hidden;
                    color: var(--content-on-light-secondary, #898989);
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17.352px;">
            ${file.url}
          </div>
        </div>
        <img src='../Project icons/Delete.svg' style="display:none" class='Icons-${id}' onclick='RemoveFile("${id}")'>
      </div>`;

      body.insertAdjacentHTML('afterbegin', innerhtmlfile);
      }



      function ChangeProjectData(type, value) {
      projectData[type] = value;
      MakeSubmitButtonAble();
      }

      function RemoveFile(fileid)
      {let id=`file-${fileid}`
      const body = document.getElementById(id);
      body.remove();
      const index = projectData.files.findIndex((file) => file.id === fileid);
      if(index!=-1)
      projectData.files.splice(index, 1);

      }
      function RemoveLink(linkid)
      {
      let id=`link-${linkid}`
      const body = document.getElementById(id);
      body.remove();
      const index = projectData.links.findIndex((link) => link.id === linkid);
      if(index!=-1)
      projectData.links.splice(index, 1);
      }
      function EditLink(linkid)
      {
      const index = projectData.links.findIndex((link) => link.id === linkid);
      Link=projectData.links[index];
      RemoveLink(linkid);
      document.getElementById('link-title').value=Link.title;
      document.getElementById('link-link').value=Link.url;
      }

      function showIcons(classname) {
      const box = document.querySelectorAll(classname);
      box.forEach((element) => {
      element.style.display = 'flex';
      });
      }

      function removeIcons(classname) {
      const box = document.querySelectorAll(classname);
      box.forEach((element) => {
      element.style.display = 'none';
      });
      }


      async function handleFileSelect(event) {
      try{
      let data = event.target.files[0];
      let filelink= await handleFileUpload(data);
      file.title=data.name;
      file.url=filelink;
      AddFile();
      }
      catch(error)
      {
      console.log(error)
      }
      }



      async function handleFileUpload(file) {
      const formData = new FormData();
      formData.append('file', file);
      try {
      const uploadType = "EmployeeProject";
      const urlRes = await fetch(
      `/aws/get/preSignedUrl?fileName=${file.name}t&contentType=${ file.type}&uploadType=${uploadType}`,
      {
      method: "GET",
      }
      );
      const urlData = await urlRes.json();
      const response = await fetch(urlData.url, {
      method: "PUT",
      headers: {
      "Content-Type": file.type,
      },
      body: file,
      });
      let url=`https://dvfkpf9qxfl09.cloudfront.net/${urlData.key}`;

      return url;
      } catch (error) {
      console.error('Error during file upload:', error);
      }
      }

      async function CreateProject()
      {
        console.log(projectData);
      try{
      let response=await fetch('/create/project',{
      method: 'POST',
      headers: {
      'Content-Type': 'application/json',
      },
      body: JSON.stringify(projectData)
      })
      response=await response.json();
      if (response.status == 200)
      {
      $("#successModal").modal('show');
      location.reload();
      }
      }
      catch(error)
      {
      console.log(error);
      $("#errorModal").modal('show');
      }
      }

      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

      <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
      <script src="../js/purpose.core.js"></script>
      <!-- Page JS -->
      <script src="../libs/autosize/dist/autosize.min.js"></script>

      <script src="../libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
      <script src="../libs/progressbar.js/dist/progressbar.min.js"></script>
      <script src="../libs/apexcharts/dist/apexcharts.min.js"></script>
      <script src="../libs/moment/min/moment.min.js"></script>

      <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
      <script src="../libs/fullcalendar/dist/fullcalendar.min.js"></script>
      <!-- Purpose JS -->
      <script src="../js/purpose.js"></script>
      <!-- Demo JS - remove it when starting your project -->
      <script src="../js/demo.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>




</body>

</html>